{% import "partials/_mixins.html" as mixins %}
{% macro block(props) %}
    <!-- begin header -->
    <header class="header{% if props.class %} {{props.class}}{% endif %} js-header">
        <div class="inner header__inner">
            <a href="#" class="logo">
                {{mixins.icon('logo', 'logo__icon')}}
            </a>
            <h1 class="header__title">
                <span>
                    {{props.title}}
                </span>
            </h1>
            <button class="header__nav js-nav-control"></button>
        </div>
        <div class="menu js-nav">
            <div class="menu__center">
                <div class="inner menu__inner">
                    <nav class="nav menu__nav">
                        <ul class="nav__list">
                            {% for item in['work', 'services', 'about us', 'contact'] %}
                                <li class="nav__item">
                                    <a href="#" class="nav__link {% if loop.last %}js-nav-contacts{% endif %}">{{item}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="contacts menu__contacts">
                        <form action="/" class="contacts__form">
                            <div class="contacts__title">drop us a line</div>
                            <div class="contacts__fields">
                                {% for item in[
                                    {
                                        placeholder: 'Name'
                                    }, {
                                        placeholder: 'Email'
                                    }, {
                                        placeholder: 'Message'
                                    }
                                ] %}
                                    <div class="contacts__field">
                                        <input type="text" class="input" placeholder="{{item.placeholder | upper}}">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="contacts__footer">
                                <button class="btn-text contacts__submit" type="submit">
                                    <span>Send</span>{{mixins.icon('arrow-right')}}</button>
                            </div>
                        </form>
                    </div>
                    <div class="menu__content">
                        {% for item in [
                        {
                            icon: 'uy-flag',
                            iconAlt: 'Uruguay Flag',
                            title: 'URUGUAY',
                            address: 'Cassinoni 1011, Montevideo.',
                            phone: '+598 155 6543',
                            phoneLink: '+5981556543'
                        },
                        {
                            icon: 'us-flag',
                            iconAlt: 'United State Flag',
                            title: 'UNITED STATES',
                            address: '2101 Brickell Ave, Apt 401 Miami, FL 33129',
                            phone: '+ 19419000806',
                            phoneLink: '+19419000806'
                        }
                    ] %}
                            <div class="menu__info">
                                <img src="img/{{item.icon}}.svg" alt="{{item.iconAlt}}" class="menu__icon">
                                <div class="menu__subtitle">{{item.title}}</div>
                                <ul class="menu__meta">
                                    <li>{{item.address}}</li>
                                    <li>
                                        <a href="tel:{{item.phoneLink}}">{{item.phone}}</a>
                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                        <ul class="menu__subnav">
                            {% for item in['CONTACT US', 'FACEBOOK', 'BEHANCE', 'INSTAGRAM'] %}
                                <li class="menu__item">
                                    <a href="#" class="menu__link {% if loop.first %}menu__link_contacts js-nav-contacts{% endif %}">{{item}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
{% endmacro %}

{% macro new(props) %}
    <!-- begin header -->
    <header class="header{% if props.class %} {{props.class}}{% endif %} js-header">
        <div class="inner header__inner">
            <a href="#" class="logo">
                {{mixins.icon('logo', 'logo__icon')}}
            </a>
            <h1 class="header__title">
                <span>
                    {{props.title}}
                </span>
            </h1>
            <button class="header__nav js-nav-control"></button>
        </div>
        <div class="menu js-nav">
            <div class="menu__center">
                <div class="inner menu__inner menu__inner_pos">
                    <nav class="nav menu__nav">
                        <ul class="nav__list">
                            {% for item in['work', 'services', 'about us', 'contact'] %}
                                <li class="nav__item">
                                    <a href="#" class="nav__link {% if loop.last %}js-nav-contacts{% endif %}">{{item}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="contacts contacts-abs menu__contacts">
                        <div class="contacts__bg contacts-abs__bg">
                            <div class="contacts-abs__left">
                                <div class="theme-bg contacts-abs__svg">
                                    <?xml version="1.0" encoding="UTF-8"?>
                                    <svg width="1440px" height="467px" viewbox="0 0 1440 467" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <!-- Generator: sketchtool 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
                                        <title>6B2E6417-59BF-46EC-B37E-E8BC70AB7825</title>
                                        <desc>Created with sketchtool.</desc>
                                        <defs>
                                            <lineargradient x1="54.6783626%" y1="95.9749635%" x2="66.3331506%" y2="25.5642361%" id="linearGradient-1">
                                                <stop stop-color="#FFF5BB" stop-opacity="0" offset="0%"></stop>
                                                <stop stop-color="#FFE886" offset="100%"></stop>
                                            </lineargradient>
                                            <lineargradient x1="54.6783626%" y1="95.9749635%" x2="66.3331506%" y2="25.5642361%" id="linearGradient-2">
                                                <stop stop-color="#303A44" stop-opacity="0" offset="0%"></stop>
                                                <stop stop-color="#303A44" offset="100%"></stop>
                                            </lineargradient>
                                        </defs>
                                        <g id="Landing-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="LP---Branding" transform="translate(0.000000, -2827.000000)">
                                                <g id="Section-CTA" transform="translate(-11.000000, 2827.000000)">
                                                    <g id="hero/CTA-services-branding">
                                                        <polygon id="Rectangle-2-Copy-2" class="theme-fill" fill-rule="nonzero" points="11 1.29618538e-14 1451 0 1451 467 17.328125 467 11 467"></polygon>
                                                        <polygon id="Triangle" fill="url(#linearGradient-1)" opacity="0.830691964" transform="translate(834.566017, 419.997596) scale(1, -1) rotate(-122.000000) translate(-834.566017, -419.997596) " points="834.566017 400.997596 858.066017 438.997596 811.066017 438.997596"></polygon>
                                                        <polygon id="Triangle-Copy" fill="url(#linearGradient-1)" opacity="0.830691964" transform="translate(1326.566017, 184.997596) scale(1, -1) rotate(-81.000000) translate(-1326.566017, -184.997596) " points="1326.56602 165.997596 1350.06602 203.997596 1303.06602 203.997596"></polygon>
                                                        <polygon id="Triangle" fill="url(#linearGradient-1)" opacity="0.830691964" transform="translate(533.500000, 150.000000) scale(1, -1) rotate(41.000000) translate(-533.500000, -150.000000) " points="533.5 131 557 169 510 169"></polygon>
                                                        <polygon id="Triangle-Copy-2" fill="url(#linearGradient-1)" opacity="0.830691964" transform="translate(283.500000, 54.000000) scale(1, -1) rotate(-80.000000) translate(-283.500000, -54.000000) " points="283.5 35 307 73 260 73"></polygon>
                                                        <polygon id="Triangle" fill="url(#linearGradient-1)" opacity="0.830691964" transform="translate(173.500000, 360.000000) scale(1, -1) rotate(43.000000) translate(-173.500000, -360.000000) " points="173.5 341 197 379 150 379"></polygon>
                                                        <polygon id="Triangle" fill="url(#linearGradient-1)" opacity="0.830691964" transform="translate(23.500000, 100.000000) scale(1, -1) translate(-23.500000, -100.000000) " points="23.5 81 47 119 0 119"></polygon>
                                                        <circle id="Oval-3" fill="url(#linearGradient-2)" opacity="0.383035714" transform="translate(1241.000000, 359.000000) scale(-1, -1) rotate(-47.000000) translate(-1241.000000, -359.000000) " cx="1241" cy="359" r="13"></circle>
                                                        <circle id="Oval-3-Copy-5" fill="url(#linearGradient-2)" opacity="0.383035714" transform="translate(1451.000000, 247.000000) scale(-1, -1) rotate(9.000000) translate(-1451.000000, -247.000000) " cx="1451" cy="247" r="13"></circle>
                                                        <circle id="Oval-3-Copy" fill="url(#linearGradient-2)" opacity="0.383035714" transform="translate(193.000000, 197.000000) scale(-1, -1) rotate(-135.000000) translate(-193.000000, -197.000000) " cx="193" cy="197" r="13"></circle>
                                                        <circle id="Oval-3-Copy-4" fill="url(#linearGradient-2)" opacity="0.383035714" transform="translate(44.000000, 433.000000) scale(-1, -1) rotate(58.000000) translate(-44.000000, -433.000000) " cx="44" cy="433" r="13"></circle>
                                                        <circle id="Oval-3-Copy-2" fill="url(#linearGradient-2)" opacity="0.383035714" transform="translate(372.000000, 372.000000) scale(-1, -1) rotate(39.000000) translate(-372.000000, -372.000000) " cx="372" cy="372" r="13"></circle>
                                                        <circle id="Oval-3-Copy-6" fill="url(#linearGradient-2)" opacity="0.383035714" transform="translate(860.000000, 117.000000) scale(-1, -1) rotate(78.000000) translate(-860.000000, -117.000000) " cx="860" cy="117" r="13"></circle>
                                                        <circle id="Oval-3-Copy-3" fill="url(#linearGradient-2)" opacity="0.383035714" transform="translate(1311.000000, 78.000000) scale(-1, -1) translate(-1311.000000, -78.000000) " cx="1311" cy="78" r="13"></circle>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="contacts-abs__right"></div>
                        </div>
                        <div class="contacts__content contacts-abs__content">
                            <div class="inner">
                                <form action="/" class="contacts__form contacts-abs__form">
                                    <div class="contacts__title theme-color">let’s talk</div>
                                    <div class="contacts__fields">
                                        {% for item in[
                                            {
                                                placeholder: 'Name'
                                            }, {
                                                placeholder: 'Email'
                                            }, {
                                                placeholder: 'Message'
                                            }
                                        ] %}
                                            <div class="contacts__field">
                                                <input type="text" class="input" placeholder="{{item.placeholder | upper}}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="contacts__footer contacts-abs__footer">
                                        <button class="btn btn_lg btn_wide theme-bg contacts__submit" type="submit">contact us</button>
                                    </div>
                                </form>
                                <div class="got-a contacts-abs__got-a">
                                    <h3 class="got-a__title title">got a</h3>
                                    <div class="got-a__text">branding project or idea?</div>
                                    <div class="got-a__slogan subtitle">We create and innovate to build impactful brand experiences that connect with customers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu__content">
                        {% for item in [
                        {
                            icon: 'uy-flag',
                            iconAlt: 'Uruguay Flag',
                            title: 'URUGUAY',
                            address: 'Cassinoni 1011, Montevideo.',
                            phone: '+598 155 6543',
                            phoneLink: '+5981556543'
                        },
                        {
                            icon: 'us-flag',
                            iconAlt: 'United State Flag',
                            title: 'UNITED STATES',
                            address: '2101 Brickell Ave, Apt 401 Miami, FL 33129',
                            phone: '+ 19419000806',
                            phoneLink: '+19419000806'
                        }
                    ] %}
                            <div class="menu__info">
                                <img src="img/{{item.icon}}.svg" alt="{{item.iconAlt}}" class="menu__icon">
                                <div class="menu__subtitle">{{item.title}}</div>
                                <ul class="menu__meta">
                                    <li>{{item.address}}</li>
                                    <li>
                                        <a href="tel:{{item.phoneLink}}">{{item.phone}}</a>
                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                        <ul class="menu__subnav">
                            {% for item in['CONTACT US', 'FACEBOOK', 'BEHANCE', 'INSTAGRAM'] %}
                                <li class="menu__item">
                                    <a href="#" class="menu__link {% if loop.first %}menu__link_contacts js-nav-contacts{% endif %}">{{item}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
{% endmacro %}