{% import "partials/_mixins.html" as mixins %}
{% macro build(props) %}
	<section class="how js-scrollspy-section" data-anim-parent id="How">
		<div class="how__inner inner">
			<div class="how__content">
				<div class="how__text" data-anim-from="bottom">
					<h3 class="how__title title">{{ props.title }}</h3>
					<div class="how__subtitle subtitle">{{ props.subtitle }}</div>
				</div>
				<div class="how__list" data-anim-from="bottom">
					<div class="how__wrap">
						{% for item in props.list %}
							<div class="how__item how-item">
								<div class="how-item__img theme-bg">
									<span class="how-item__number">{{ loop.index }}</span>
									{{ mixins.icon(item.svg) }}
								</div>
								<div class="how-item__wrap">
									<div class="how-item__title">{{ item.title }}</div>
									<div class="how-item__text">{{ item.text }}</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endmacro %}