{% macro build(props) %}
    <div class="what">
        <div class="what__inner inner">
            <h3 class="what__title title">
                {{props.title}}
            </h3>
            <p class="what__descr subtitle">
                {{props.subtitle}}
            </p>
            <div class="what__row">
                {% for col in props.cols %}
                    <div class="card{% if col.modifier %} card_{{col.modifier}}{% endif %}">
                        <div class="card__img-wrapper">
                            <img src="img/{{col.img.src}}" alt="{{col.img.alt}}" class="card__image"/>
                        </div>
                        <div class="card__brand">
                            <img src="img/logos/{{col.brand.src}}" alt="{{col.brand.alt}}"/>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}