{% macro build(props) %}
    <section class="what js-what js-scrollspy-section js-default-scrollspy" id="What">
        <div class="what__inner inner" data-anim-parent>
            <h3 class="what__title title" data-anim-from="bottom">
                {{props.title}}
            </h3>
            <p class="what__descr subtitle{% if props.subtitleModifier %} what__descr_{{props.subtitleModifier}}{% endif %}" data-anim-from="bottom">
                {{props.subtitle | safe}}
            </p>
            <div class="what__row">
                {% for col in props.cols %}
                    <div class="card{% if col.modifier %} card_{{col.modifier}}{% endif %}{% if col.generalModifier %} card_{{col.generalModifier}}{% endif %}" data-anim-from="bottom">
                        <div class="card__img-wrapper">
                            <img src="img/{{col.img.src}}" alt="{{col.img.alt}}" class="card__image"/>
                        </div>
                        <div class="card__brand">
                            <img src="img/logos/{{col.brand.src}}" alt="{{col.brand.alt}}"/>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endmacro %}