.btn
    &_dark
        border: 2px solid #253240
        background-color: $limedSpruce
        color: $white
        +hover
            background-color: $white
            color: $limedSpruce
.btn-text
    &_sm
        font-size: 10px
    .icon-arrow-right
        font-size: 7px
        margin-top: -0.6em