.header
    &__title
        text-transform: uppercase
        color: $limedSpruce
        font-family: $montserrat
        font-size: 20px
        font-weight: 600
        +vcenter
        +sm 
            display: inline-block
            font-size: 16px
            position: static
            transform: none
            width: calc(100% - 84px - 35px)
            text-align: center
        +xs 
            font-size: 14px
        span
            display: inline-block   
            vertical-align: middle
            
    &_colored
        padding-bottom: 47px
        +sm 
            padding-bottom: 20px
        .logo
            +sm 
                vertical-align: middle
        .header__nav
            +sm 
                display: inline-block
                vertical-align: middle
        .logo__icon
            fill: $limedSpruce

