.header
    &__title
        text-transform: uppercase
        color: $limedSpruce
        font-family: $montserrat
        font-size: 20px
        font-weight: 600
        // font-size: 0
        +vcenter
        +sm 
            display: inline-block
            font-size: 16px
            position: static
            transform: none
            width: calc(100% - 84px - 35px)
            text-align: center
        +xs 
            font-size: 10px
            
        span
            display: inline-block   
            vertical-align: middle
            +xs
                max-width: 250px
            
    &_colored
        padding-bottom: 47px
        +sm 
            padding-bottom: 20px
        .logo
            +sm 
                vertical-align: middle
        .header__nav
            +sm 
                display: inline-block
                vertical-align: middle
        .logo__icon
            fill: $limedSpruce

.menu__inner_pos
    position: initial
.contacts-abs
    position: absolute
    left: 0
    top: 0
    width: 100vw
    max-width: none
    z-index: 5
    +sm
        padding-bottom: 0
    &__bg
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        display: flex
        background-color: #fafafa
        box-shadow: 0 24px 55px 0 rgba(0, 0, 0, 0.19)
        +sm
            flex-direction: column-reverse
    &__left,
    &__right
        width: 50%
        +sm
            width: 100%
    &__left
        +sm
            display: none
    &__form
        float: right
        margin-top: 16px
        +md
            width: 40%
        +sm
            float: none
            margin: 0 auto
            max-width: 460px
            width: 100%
            padding-bottom: 50px
    .got-a
        padding: 0
        margin: 0
        +sm
            z-index: 1
        &__text
            max-width: none
    &__got-a
        float: left
        text-align: left
        max-width: 400px
        +sm
            max-width: 100%
            width: 100%
        &-bg
            position: absolute
            left: -15px
            right: -15px
            top: -15px
            bottom: -50px
            display: none
            z-index: -1
            +sm
                display: block
    &__content
        padding: 166px 0 156px
        +sm
            padding: 71px 0 50px
    &__svg
        height: 100%
        svg
            max-width: 100%
            width: 100%
            height: 100%
    &__footer
        max-width: 313px
        margin-top: 48px

