.more-services
	&__content
		display: flex
		justify-content: space-between
		align-items: center
	&__left
		font-family: $montserrat
		font-weight: 300
		font-size: 20px
		letter-spacing: 0.6px
		color: $title-dark

.servisec-item
	position: relative
	font-family: $arbutus
	font-size: 30px
	margin-bottom: 7px
	&:before
		content: ""
		position: absolute
		width: 4px
		height: 28px
		background-color: $yellow
		left: -24px
		top: 50%
		transform: translateY(-50%)