.navigation
    .icon
        display: inline-block
        vertical-align: middle
        font-size: 12px
    &__title
        vertical-align: middle
        display: inline-block
        font-family: $montserrat
        font-size: 12px
        font-weight: bold
        text-transform: uppercase
        line-height: 1.75
        color: $dark
        margin-left: 10px
    &__logo
        +sm 
            display: none
    &_theme
        .navigation__list
            padding-left: 44px
        .navigation__link
            padding: 33px 18px
        
    

        