body
    &.is-pink
        .theme-fill
            fill: $pink
        .theme-bg
            background-color: $pink
        .theme-color
            color: $pink
        .theme-icon
            .icon
                color: $pink
        .navigation__link.theme-pseudo:before
            background-color: $pink
    &.is-blue
        .theme-fill
            fill: $blue
        .theme-bg
            background-color: $blue
        .theme-color
            color: $blue
        .theme-icon
            .icon
                color: $blue
        .navigation__link.theme-pseudo:before
            background-color: $blue
    &.is-yellow
        .theme-fill
            fill: $yellow
        .theme-bg
            background-color: $yellow
        .theme-color
            color: $yellow
        .theme-icon
            .icon
                color: $yellow
        .navigation__link.theme-pseudo:before
            background-color: $yellow
    &.is-azure
        .theme-fill
            fill: $azure
        .theme-bg
            background-color: $azure
        .theme-color
            color: $azure
        .theme-icon
            .icon
                color: $azure
        .navigation__link.theme-pseudo:before
            background-color: $azure
