.what
    padding: 90px 0 92px
    border-bottom: 1px solid rgba(#979797, 0.3) 
    &.is-padding-top-updated
        padding-top: 171px
        +sm 
            padding-top: 116px
    +sm 
        padding: 40px 0
    &__title
        text-align: center
    &__descr
        padding: 0 230px
        margin-bottom: 67px
        margin-top: 7px
        &_narrow
            padding: 0 250px
        +md 
            padding: 0 100px
        +sm 
            padding: 0
            margin-bottom: 30px
    &__row
        display: flex
        justify-content: center
        margin: 0 -20px
        padding: 0 116px
        +lg 
            padding: 0 
            max-width: 970px
            margin: 0 auto
        +md 
            padding: 0 
            margin: 0 -8px
        +sm 
            flex-direction: column
            // align-items: center
            padding: 0
    .card
        padding: 0 20px
        flex: 0 0 33.333%
        +lg
            padding: 0 15px
        +md 
            padding: 0 8px
        +sm 
            flex: 0 0 100%
            &:not(:last-child)
                padding-bottom: 20px

.card
    &__img-wrapper
        position: relative
        max-width: 287px
        height: 271px
        background-color: $white
        box-shadow: 0 33px 71px 0 rgba(63, 86, 110, 0.1), 0 0 24px 0 rgba(99, 246, 235, 0.04)
        font-size: 0
        +lg 
            +vertical
        +sm 
            max-width: 100% 
    &__image
        position: absolute
        +lg
            position: static
            display: inline-block
            vertical-align: middle
            max-width: 100%

        .card_eset &
            margin-top: 34px
            margin-left: -52px
            +lg
                margin: 0
        .card_cloudtimes &
            margin-top: -5px
            margin-left: -6px
            +lg
                margin: 0
        .card_sammel &
            margin-top: 32px
            margin-left: 28px
            +lg
                margin: 0

        .card_starcenter &
            margin-top: 1px
            margin-left: -31px
            +lg
                margin: 0
        .card_sammel-2 &
            margin-top: 41px
            margin-left: -20px
            +lg
                margin: 0
        .card_astroselling &
            margin-top: 25px
            margin-left: 94px
            +lg
                margin: 0

        .card_rypt &
            margin-top: 44px
            margin-left: -73px
            +lg
                margin: 0
        .card_golive &
            margin-top: 45px
            margin-left: -20px
            +lg
                margin: 0
        .card_cloudtimes-2 &
            margin-top: 12px
            margin-left: 46px
            +lg
                margin: 0
        
                
        .card_cover &
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center

    &__brand
        margin-top: 26px
        min-height: 30px
        text-align: center
        position: relative
        .card_sinae &
            margin-top: 21px
            +sm 
                margin-top: 10px 
        .card_sammel &
            margin-top: 21px
            +sm 
                margin-top: 10px
        .card_cloudtimes &
            margin-top: 29px
            +sm 
                margin-top: 10px
        .card_rypt &
            margin-top: 34px
            +sm 
                margin-top: 10px
        +sm 
            margin-top: 10px 
        img 
            +vcenter