.icon-arrow-left {
  width: 0.89em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 0.89em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron {
  width: 0.89em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-branding-1 {
  width: 0.92em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-branding-2 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-branding-3 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-ecomm-1 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-ecomm-3 {
  width: 0.96em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-ecomm-4 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-software-1 {
  width: 1.04em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-software-2 {
  width: 1.12em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-software-3 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-software-4 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-software-5 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-uxui-1 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-uxui-2 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-uxui-3 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-icon-uxui-4 {
  width: 1.33em;
  height: 1em;
  fill: currentColor;
}
.icon-logo {
  width: 2.65em;
  height: 1em;
  fill: currentColor;
}
.icon-navbar-services-branding {
  width: 3.42em;
  height: 1em;
  fill: currentColor;
}
